@charset "gbk";
*{margin: 0;padding: 0;font-family: '微软雅黑','宋体';}
body {background: #FFF;color:#000;margin: 0 auto;padding: 0;min-width: 320px;max-width:640px;font-size: 0.18rem;}
a {text-decoration:none;color: #000;}
li {list-style: none;}
ul {margin: 0;padding: 0;}
img {margin: 0;padding: 0;border: 0px;outline-width:0px;  vertical-align:top;}
input{margin: 0;padding: 0;border: 0px;}
.clear{clear:both;}
.fl {float: left;}

.banner img{width:6.4rem;display: block;}
.butt {text-align: center;margin-top: 0.2rem;}
.butt a {display: inline-block;width: 2rem;line-height: 0.42rem;text-align: center;font-size: 0.18rem;white-space: nowrap;word-spacing: normal;letter-spacing: normal;overflow: hidden;text-overflow:ellipsis;}
.bt1 a {background-color: #d22960;color: #FFF;border-radius: 0.2rem;}
.bt2 a {background-color: #FFF;color: #d22960;border-radius: 0.2rem;}
.bt3 a {background-color: #d22960;color: #FFF;border-radius: 0.2rem;border: 0.02rem solid #FFF;margin-top: 0.2rem;width: 2.5rem;}
.p_01 {color: #FFF;background-color: #c92363;text-align: center;line-height: 0.5rem;}
.p_01 span {color:#fbfc06}
.zxj {font-weight: bold;font-size: 0.21rem;display: inline-block;width: 1.25rem;}
.bg1 {background-color: #ff7200;padding: 0.1rem 0;}
.p_02 {text-align: center;line-height: 0.5rem;color: #FFF;}
.p_02 input {margin: 0rem 0.1rem;line-height: 0.35rem;width: 2.1rem;border-radius: 0.1rem;}
.p_03 {text-align: center;line-height: 0.6rem;}
.p_03 input {color: #FFF;background-color: #c92363;padding: 0.08rem 0.2rem;font-size: 0.18rem;border-radius: 0.1rem;}
.tit_01 {text-align: center;color: #ce2164;padding: 0.1rem 0;}
.p_04 {background-color: #c92363;color: #FFF;width: 6rem;margin-left: 0.2rem;padding: 0.1rem;line-height: 0.3rem;font-size: 0.16rem;}
.p_05 {text-align: center;line-height: 0.5rem;}
.img_01 {margin-left: 0.02rem;}
.img_01 img {width: 6.36rem;}
.but {text-align: center;padding: 0.2rem 0;}
.but img {width: 2.27rem;}
.tit_02 {text-align: center;color: #d02762;}
.img_02 {text-align: center;}
.img_02 img {margin-top: 0.1rem;width: 4.94rem;}
.tit_03 {text-align: center;margin-top: 0.1rem;}
.tit_03 img {width: 5.13rem;}
.img_03 {text-align: center;}
.img_03 img {width: 6.06rem;margin-top: 0.1rem;}
.bg {background-image: url(../images/bg.jpg);width: 6.4rem;height:2.19rem;}
.dsUl1 ul {padding-top: 0.2rem;}
.dsUl1 ul li {float: left;margin-left: 0.20rem;}
.dsUl1 ul li p {text-align: center;font-size: 0.21rem;line-height: 0.5rem;color: #d22960;font-weight: bold;}
.dsUl1 ul li img {width: 2.89rem;}
.tit_04 {text-align: center;color: #FFF;padding-top: 0.2rem;font-size: 0.39rem;}
.bg2 {background-color: #d22960;padding-bottom: 0.1rem;}
.tit_05 {text-align: center;padding-top: 0.2rem;}
.p_02 {text-align: center;}
.kcdg img {width: 6.13rem;margin-top: 0.15rem;}
.kcdg {margin-left: 0.14rem;}
.bg3 {background-image: url(../images/bg_02.jpg);height: 6.33rem;width: 6.4rem;}
.dsUl2 {padding-top: 0.8rem;}
.dsUl2 ul li {float: left;margin-left: 1.46rem;margin-left: 0.112rem;}
.dsUl2 ul li img {width: 1.46rem;}
.p_06 {width: 6rem;margin-left: 0.2rem;line-height: 0.3rem;}
.dsUl3 {margin-top: 0.1rem;}
.dsUl3 ul li {float: left;margin-left: 0.226rem;}
.dsUl3 ul li p {text-align: center;line-height: 0.5rem;}
.dsUl3 ul li img {width:2.86rem;}
.tit_06 {text-align: center;padding: 0.2rem 0;}
.tit_06 span {border-bottom: 0.02rem solid #d23060;color: #d23060;padding-bottom: 0.1rem;}
.dsUl4 ul li {border-bottom: 1px solid #cfcfcf;width: 5.6rem;margin-left: 0.4rem;line-height: 0.39rem;}
.dsUl4 ul li span {float: right;}
.tit_07 img {width: 6.4rem;padding: 0.1rem 0;}
.img_04 img {width: 6.4rem;margin-top: 0.1rem;}
.dsUl5 {margin-top: 0.1rem;}
.dsUl5 ul {float: left;margin-left: 0.1rem;}
.dsUl5 ul li {text-align: center;line-height: 0.42rem;}
.dsUl5 ul li img {width:3.04rem;}
.tl img {width: 6.4rem;}