@charset "gbk";
*{margin: 0;padding: 0;font-family: '微软雅黑','宋体';}
body {background: #FFF;color:#000;margin: 0;padding: 0;min-width: 1200px;font-size: 18px;}
a {text-decoration:none;color: #FFF;}
li {list-style: none;margin: 0;padding: 0;}
ul {margin: 0;padding: 0;}
img {margin: 0;padding: 0;border: 0px;outline-width:0px;  vertical-align:top; }
input{margin: 0;padding: 0;border: 0px;}
.clear {clear:both;}
.fl {float:left;}

.public {margin: auto;width: 1200px;}
.butt {text-align: center;margin-top: 20px;}
.butt a {display: inline-block;width: 270px;line-height: 45px;text-align: center;font-size: 21px;white-space: nowrap;word-spacing: normal;letter-spacing: normal;overflow: hidden;text-overflow:ellipsis;}
.bt1 a {background-color: #ff0000;color: #f6ff00;border-radius: 5px;margin-top: 20px;}

.tit_01 {text-align: center;padding-top: 20px;letter-spacing: 2px;color: #ff0000;}
.p_01 {text-align: center;line-height: 30px;}
.bgr {background-color: #ffebeb;text-align: center;padding: 20px 0;margin-top: 20px;}
.tit_02 {text-align: center;font-size: 30px;color: #ff0000;}
.bgr input[type="text"] {width: 280px;line-height: 36px;border: 1px solid#d0d0d0;border-radius: 5px;margin-top: 10px;padding-left: 10px;}
.bgr input[type="submit"] {width: 250px;line-height: 36px;border-radius: 5px;background-color: #ff0000;color: #fcff00;font-size: 18px;}
.czUl1 ul li {width: 320px;float: left;background-color: #ddf0ff;padding:20px;height: 120px;border-radius: 20px;margin-left: 30px;margin-top: 20px;}
.czUl1 ul li h2 {text-align: center;font-size: 24px;line-height: 39px;color: #ff0000;}
.czUl1 ul li p {font-size: 18px;margin-top: 5px;}
.tit_03 {text-align: center;font-size: 39px;line-height: 80px;color: #ff0000;}
.tab {margin-left: 60px;margin-top: 20px;}
.tab table {text-align: center;}
.tab table tr{line-height: 48px;}
.tab table tr:nth-child(1) {color: #FFF;line-height: 50px;background-color: #d71535;}
.ljzx span {color: #d71535;}
.tab table tr td {border: 1px solid #fff;}
.tab table tr:nth-of-type(even) td {background-color: #ebebeb;}

.tit_04 {text-align: center;font-size: 32px;font-weight: bold;line-height: 90px;}
.tit_04 span {color: #FFF;display:inline-block;width: 390px;height: 60px;line-height: 60px;background-color: #ff0000;}
.czUl2 {margin-left: 39px;margin-top: 20px;}
.czUl2 ul li {float: left;width: 349px;margin-left: 20px;}
.czUl2 ul li p {padding: 10px 30px;line-height: 27px;}
.tit_05 {text-align: center;color:  #ff0000;margin: 10px 0;}
.mt {margin-top: 13px;}
.czUl3 ul li {float: left;margin-top: 13px;margin-left: 10px;}