@charset "gbk";
*{margin: 0;padding: 0;font-family: '微软雅黑','宋体';}
body {background: #FFF;color:#000;margin: 0 auto;padding: 0;min-width: 320px;max-width:640px;font-size: 0.16rem;}
a {text-decoration:none;color: #000;}
li {list-style: none;}
ul {margin: 0;padding: 0;}
img {margin: 0;padding: 0;border: 0px;outline-width:0px;  vertical-align:top;}
input{margin: 0;padding: 0;border: 0px;}
.clear{clear:both;}
.fl {float: left;}
hr {width: 1rem;margin-left: 2.7rem;border: 1px solid #0072ff;}

.banner img{width:6.4rem;display: block;}
.butt {text-align: center;margin-top: 0.2rem;}
.butt a {display: inline-block;width: 2rem;line-height: 0.39rem;text-align: center;font-size: 0.18rem;white-space: nowrap;word-spacing: normal;letter-spacing: normal;overflow: hidden;text-overflow:ellipsis;border-radius: 0.1rem;}
.bt1 a {background-color: #f7585d;color: #FFF;}

.tit_01 {text-align: center;margin:0.1rem 0;}
.tit_01 img {width: 5.43rem;}
.p_01 {width: 6.2rem;margin-left: 0.1rem;line-height: 0.25rem;}
.img_01 {margin-top: 0.2rem;}
.img_01 img {width: 6.4rem;}
.tit_02 {text-align: center;margin: 0.1rem 0;font-size: 0.39rem;}
.dsUl1 ul li {width: 3rem;float: left;text-align: center;background-color: #f7585d;color: #FFF;line-height: 0.39rem;margin-left: 0.133rem;margin-top: 0.1rem;}
.dsUl1 ul li a {color: #FFF;}
.p_02 {width: 6rem;margin-left: 0.2rem;line-height: 0.25rem;}
.dsUl2 ul li {float: left;width: 3.05rem;margin-left: 0.1rem;margin-top: 0.1rem;}
.dsUl2 ul li img {width: 3.05rem;}
.dsUl3 ul {float: left;display: block;text-align: center;line-height: 0.39rem;margin-left: 0.18rem;}
.dsUl3 ul li img {width: 2.93rem;}
.dsUl4 {width: 6.14rem;margin-left: 0.13rem;}
.dsUl4 ul li {float: left;width: 3.01rem;}
.dsUl4 ul li:nth-child(2) {margin-left: 0.12rem;}
.dsUl4 ul li img {width: 3.01rem;}
.img_02 {text-align: center;margin-top: 0.1rem;}
.img_02 img {width: 6.14rem;}
.dsUl5 ul li {float: left;width: 2.06rem;margin-left: 0.055rem;margin-top: 0.05rem;}
.dsUl5 ul li img {width: 2.06rem;}