@charset "gbk";
*{margin: 0;padding: 0;font-family: '微软雅黑','宋体';}
body {background: #FFF;color:#000;margin: 0 auto;padding: 0;min-width: 320px;max-width:640px;font-size: 0.18rem;}
a {text-decoration:none;color: #000;}
li {list-style: none;}
ul {margin: 0;padding: 0;}
img {margin: 0;padding: 0;border: 0px;outline-width:0px;  vertical-align:top;}
input{margin: 0;padding: 0;border: 0px;}
.clear{clear:both;}
.fl {float: left;}

.banner img{width:6.4rem;display: block;}
.butt {text-align: center;margin-top: 0.2rem;}
.butt a {display: inline-block;width: 2.1rem;line-height: 0.39rem;text-align: center;font-size: 0.18rem;white-space: nowrap;word-spacing: normal;letter-spacing: normal;overflow: hidden;text-overflow:ellipsis;border-radius: 0.2rem;}
.bt1 a {background-color: #f01728;color: #FFF;}
.menu {margin-top: 0.2rem;}
.menu img {width: 6.4rem;}
.tit_01 {margin-top: 0.2rem;}
.tit_01 img {width: 6.4rem;}
.exUl1 {margin-top: 0.2rem;}
.exUl1 ul li {float: left;width: 3rem;margin-left: 0.133rem;}
.exUl1 ul li img {width: 3rem;}
.exUl1 ul li p {text-align: center;line-height: 0.39rem;}
.zy ul li {float: left;background-color: #eaeaea;width: 2.92rem;margin-left: 0.187rem;text-align: center;padding-bottom: 0.2rem;margin-top: 0.2rem;}
.zy ul li h2 {font-size: 0.21rem;line-height: 0.39rem;color: #424141;}
.zy ul li p {line-height: 0.36rem;}
.zy ul li span {background-color: #e77a19;color: #FFF;padding: 0.05rem 0.27rem;margin-left: 0.1rem;}
.zy ul li img {width: 2.92rem;}
.img_02 {margin-left: 0.11rem;}
.img_02 p {text-align: center;line-height: 0.4rem;}
.img_02 img {width: 3.03rem;}
.xyhj ul {margin-left: 0.11rem;}
.xyhj ul li p {text-align: center;line-height: 0.42rem;}
.xyhj ul li img {width: 3.03rem;}
.exUl2 ul li {float: left;margin-left: 0.11rem;}
.exUl2 ul li p {text-align: center;line-height: 0.42rem;}
.exUl2 ul li img {width: 3.03rem;}
.p_01 {width: 6rem;margin-left: 0.2rem;text-align: center;padding: 0.1rem 0;line-height: 0.27rem;}
.bg {background-color: #ebebeb;margin-top: 0.2rem;padding: 0.2rem 0;}
.tit_02 {text-align: center;color: #ff0000;line-height: 0.7rem;letter-spacing: 2px;}
.tab {margin-left: 0.2rem;}
.tab table {text-align: center;}
.tab table tr td {line-height: 0.39rem;border-top-style: none; border-bottom-style: none;border-left-style: none;}
.tab table tr:nth-child(1) {background-color: #e8a900;color: #FFF;}
.tab table tr td:nth-child(1) {width: 1.5rem;}
.tab table tr td:nth-child(2) {width: 1.5rem;}
.tab table tr td:nth-child(3) {width: 3rem;border-right-style: none;}
.tab table tr:nth-child(even) {background-color: #FFF;}