@font-face {
font-family: 'iconfont';src: url('/public/font/iconfont.eot');src: url('/public/font/iconfont.eot?#iefix') format('embedded-opentype'),url('/public/font/iconfont.ttf') format('truetype'),url('/public/font/iconfont.svg#iconfont') format('svg');}
.iconfont {font-family: "iconfont" !important;font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-ditu:before{content:"\e7ba"}
.icon-diannao:before{content:"\e69b"}
.icon-dianhua:before{content:"\e61b"}
.icon-duihuakuang:before{content:"\e7bb"}
.icon-kongjian:before{content:"\e629"}
.icon-weibo:before{content:"\e67a"}
.icon-kuaishou:before{content:"\e71a"}
.icon-douyinduanshipin:before{content:"\e81f"}
.icon-qq:before{content:"\e820"}
.icon-sdxhdnxy:before{content:"\e600"}
.icon-tel:before{content:"\e630"}
.icon-zixun:before{content:"\e699"}
.icon-huojian:before{content:"\e822"}
.icon-xinhuajituan:before{content:"\e601"}
.icon-hot:before{ content:"\e636"; }
.icon-hot2:before{ content:"\e61d"; }

.sdxh_top{height:148px;min-width:1280px;background:#FFF}

.sdxh_top_logo{margin:0 auto;padding:14px 0;width:1280px;text-align:justify;text-align-last:justify;display: flex;justify-content: space-between;align-items: center;}
.sdxh_top_logo a{display:inline-block;vertical-align:middle}
.sdxh_top_logo img{display:inline-block;vertical-align:middle}
.sdxh_top_logo p{font-size:15px;display:inline-block;color:#595957;padding:0 0 0 10px;border-left:1px solid #595957;line-height:24px;margin:0 0 0 10px;vertical-align:middle}
.sdxh_top_logo span{color:#595957;font-size:1.1em;font-weight:bold}

.sdxh_dh {border-bottom:5px solid #3496e1;background:white;position:relative}
.sdxh_dh_con{position:relative;width:1280px;margin:0 auto;}
.sdxh_dh_zy {background:rgba(0, 0, 0, 0.5);border-radius:10px 10px 0 0;width:250px;position:absolute;left:0;top:0;z-index:10;height:45px;transition:all 0.2s ease-out;overflow: hidden;}
.sdxh_dh_zy:hover{height: 585px;overflow: initial;}
.sdxh_dh_zy:hover h2 i{display:none!important}
.sdxh_dh_zy h2{margin:0;text-align:center;font-size:18px;font-weight:normal;line-height:42px;background:#3496e1;border-radius:10px 10px 0 0;color:white;height:45px}
.sdxh_dh_zy h2 i{position: absolute;right: 26px;font-size:26px;color:red;height:1em;z-index:1;animation:sdxh_dh_zy_hot 0.3s infinite;display: inline-block;line-height: 1em;}
.sdxh_dh_zy h2 i:after{width:0.6em;height:0.4em;background:white;position:absolute;top:0.25em;left:0.2em;z-index:-1;content: "";}
.sdxh_dh_zy ul{margin:0;padding: 4px 0;box-sizing:border-box;height:540px;position:relative;}
.sdxh_dh_zy ul i{font-size: 14px;color:red;height:1em;position: relative;display: inline-block;line-height: 1em;}
.sdxh_dh_zy ul i:after{content: "";background: white;width: 1.8em;height: 0.66em;position: absolute;left: 0.33em;top: 0;bottom: 0;margin: auto;animation:sdxh_dh_zy_hot2 0.5s infinite;z-index:-1;}
.sdxh_dh_zy li{list-style:none;font-size:14px;line-height: 38px;height: 38px;padding: 0 16px;box-sizing:border-box;}
.sdxh_dh_zy li>a::after{content:">";color:white;font-weight:bold;line-height:32px;position: absolute;right: 0;top: 0;bottom: 0;margin: auto;}
.sdxh_dh_zy a{color:white;text-decoration:none;display:block;position: relative;}
.sdxh_dh_zy_con{position:absolute;width:266px;height:400px;left:250px;background:white;box-shadow:0 0 20px 0px #c1c1c1;top:10px;margin:auto;display:none;border-radius:7px;padding:15px;box-sizing:border-box;text-align:center;color:#333}
.sdxh_dh_zy li:hover .sdxh_dh_zy_con{display:block}
.sdxh_dh_zy li:hover{background:#3496e1}
.sdxh_dh_zy_con h3{margin:0.5em auto 0}
.sdxh_dh_zy_con p{line-height:2em;text-align:left;width:90%;margin:0 auto;font-size:13px}
.sdxh_dh_zy_con span{font-size:1.1em;color:#ff6700}
.sdxh_dh_zy_con div{position:absolute;width:100%;bottom:0;left:0}
.sdxh_dh_zy_con div a{background:orange;display:inline-block;width:6em;margin:15px 5px;cursor:pointer}
.sdxh_dh_zy .bottom{top:auto;bottom:0}

.sdxh_dh_lm{margin:0;box-sizing:border-box;padding:0 0 0 290px;text-align:justify;text-align-last:justify;height:45px;justify-content: space-between;display: flex;}
.sdxh_dh_lm li{display:inline-block;border-radius:10px 10px 0 0;height:45px;overflow:hidden}
.sdxh_dh_lm a{color:#363535;text-decoration:none;transition:all 0.2s ease-out;border-bottom:3px solid #3496e1;font-size:18px;line-height:45px;display:inline-block;height:50px}
.sdxh_dh_lm li:hover a{color:#3496e1;height:38px}

.sdxh_btm{font-family:"Microsoft YaHei";min-width:1280px}
.sdxh_btm a{color:#000;text-decoration:none}
.sdxh_btm .co_wt{color:#f9f4f4}
.sdxh_btm ul{list-style:none}

.sdxh_btm_contact{background:#f1f1f1;text-align:center}
.sdxh_btm_contact ul{padding:20px 0;overflow:hidden;margin:0 auto;width:1280px}
.sdxh_btm_contact li{width:25%;float:left}
.sdxh_btm_contact i{display:block;font-size:80px;width:1em;margin:0 auto;color:inherit;line-height:87px}
.sdxh_btm_contact i:hover {transition:transform 0.5s ease-out;transform:rotateZ(360deg)}
.sdxh_btm_contact p{margin:0;font-size:18px;line-height:2em;color:#060606}

.sdxh_btm_dh{background:#4d4d4d;padding:50px 0 10px;color:#fefcfc;text-align:center}

.sdxh_btm_www{width:1280px;margin:0 auto;overflow:hidden;font-size:16px;line-height:1.8em}
.sdxh_btm_www a{color:#f9f4f4}
.sdxh_btm_www h4{font-weight:400;margin:0 0 1em;font-size:18px}

.sdxh_btm_logo{width:26%;float:left;padding:10px 23px 0 0;box-sizing:border-box}
.sdxh_btm_logo img{width:251px;margin: 40px auto 10px;border:none;height: 47px;}
.sdxh_btm_logo h4{font-size:16px}

.sdxh_btm_link{float:left;border:1px #6b6b6b;border-style:none solid;width:51%;padding:10px 0;box-sizing:border-box}
.sdxh_btm_link div{float:left;margin:0;width:33%;box-sizing:border-box}
.sdxh_btm_link ul{padding:0;margin:0}

.sdxh_btm_wechat{float:left;width:23%;padding:10px 0 0 40px;box-sizing:border-box}
.sdxh_btm_wechat h4{width:100px}
.sdxh_btm_wechat img{float:left;width:100px}
.sdxh_btm_wechat p{float:left;margin:1em 0 0 1em}

.sdxh_btm_public{width:1280px;margin:20px auto 10px;font-size:14px}
.sdxh_btm_public ul{padding:0}
.sdxh_btm_public li{width:100px;display:inline-block}
.sdxh_btm_public .sdxh_btm_qq{color:#FFF}
.sdxh_btm_public .sdxh_btm_qzone{color:#fece01}
.sdxh_btm_public .sdxh_btm_weibo{color:#ff635c}
.sdxh_btm_public .sdxh_btm_kuaishou{color:#ff8000}
.sdxh_btm_public a:hover{color:#2196F3}
.sdxh_btm_public a i:hover{font-size:36px}
.sdxh_btm_public i{display:block;font-size:30px;line-height:50px;color:inherit}

.sdxh_btm_declare{background:#333;overflow:hidden;text-align:center;color:#FFF}
.sdxh_btm_declare div{width:1280px;margin:0 auto;padding:20px 0}
.sdxh_btm_declare p{margin:.5em 0;font-size:14px;line-height:1.2em}
.sdxh_btm_declare img{display: inline-block;margin: 0 0.5em 0 0;}

.sdxh_btm_red{color:#fb3602}

.tcbox {position:fixed;top:50%;left:50%;z-index:999;display:none;margin: -240px 0 0 -270px;border-radius: 10px;box-shadow: 0 0 10px #afafaf;width: 540px;height: 460px;overflow: hidden;text-align: center;background: linear-gradient(to right, #f6334d  , #f6334d , #ff923b);}
.tcbox .boxout {position:absolute;top: 0;right: 0;padding: 14px;width:22px;height:22px;background:url(/public/images/tcout.png) center center no-repeat;cursor:pointer;-webkit-transition:.6s;transition:.6s;-webkit-transform:rotate(0);transform:rotate(0);-ms-transition:.6s;-ms-transform:rotate(0);}
.tcbox ul{margin: 0;padding: 30px 60px 10px 100px;list-style: none;}
.tcbox li{height: 30px;margin: 10px 0;position: relative;}
.tcbox li::after{content: "?";width: 25px;line-height: 25px;left: -40px;top: 4px;position: absolute;background: white;border-radius: 50%;font-size: 20px;color: #f50d0d;}
.tcbox li p{font-size: 17px;margin: 0;line-height: 30px;color: white;float: left;text-align: left;}
.tcbox li a{float: right;width: 85px;height: 30px;color: red;background: white;border-radius: 30px;font-size: 16px;line-height: 30px;}
.tcbox div{background: white;height: 218px;border-radius: 50% 50% 0 0;width: 150%;margin: 0 0 0 -25%;padding: 30px 0 0;}
.tcbox div a{width: 200px;line-height: 40px;background: linear-gradient(to right, #f6334d , #ff923b);display: block;margin: 0 auto;font-size: 18px;color: white;border-radius: 40px;}
.tcbox div p{font-size: 17px;line-height: 30px;}
.tcbox div span{color: #f50d0d;}

.sdxh_talk_window{text-align: center;position: relative;z-index: 999;display: none;}
.sdxh_talk_window_con1{width: 590px;height: 396px;overflow: hidden;background: white;border-radius: 10px;left: 0;top: 0;bottom: 0;right: 0;margin: auto;position: fixed;box-shadow: 0 0 10px #afafaf;z-index: 999;}
.sdxh_talk_window_con1 .le{ float: left; width: 344px; padding: 18px 0 0; }
.sdxh_talk_window_con1 .le h3{ font-size: 24px; line-height: 1.6em; margin: 0; }
.sdxh_talk_window_con1 .le ul{ list-style: none; padding: 0; margin: 10px 0 0; }
.sdxh_talk_window_con1 .le li{ margin: 8px 0; }
.sdxh_talk_window_con1 .le h4{ font-size: 17px; line-height: 1.6em; margin: 0 0 8px; }
.sdxh_talk_window_con1 .le h4 span{ font-size: 14px; color: #f33d10; font-weight: normal; margin: 0 0 0 0.5em; }
.sdxh_talk_window_con1 .le .llzx{display: inline-block;width: 124px;font-size: 14px;line-height: 2.4em;background: #ca0012;color: white;text-decoration: none;margin: 0 5px;border: none;}
.sdxh_talk_window_con1 .le .llzx.bg2{background: #ff4200;}
.sdxh_talk_window_con1 .ri{float: right;background: url(/public/images/talk_bg1.jpg);height: 100%;width: 246px;padding: 88px 12px 0;box-sizing: border-box;}
.sdxh_talk_window_con1 .ri h3{font-size: 44px;line-height: 1.2em;color: white;text-align: left;margin: 0;}
.sdxh_talk_window_con1 .ri h3 span{color: #faff00;}
.sdxh_talk_window_con1 .ri p{font-size: 24px;line-height: 1.6em;color: white;margin: 12px 0;}
.sdxh_talk_window_con1 .ri .llzx{display: inline-block;width: 100%;font-size: 16px;line-height: 2.4em;color: #ca0012;background: white;text-decoration: none;border: none;}

.sdxh_talk_window_con2{width: 590px;height: 396px;overflow: hidden;background: white;border-radius: 10px;left: 0;top: 0;bottom: 0;right: 0;margin: auto;box-shadow: 0 0 10px #afafaf;position: fixed;}
.sdxh_talk_window_con2 .le{float: left;width: 344px;padding: 18px 30px 0;box-sizing: border-box;}
.sdxh_talk_window_con2 .le h3{ font-size: 24px; line-height: 1.6em; margin: 0; }
.sdxh_talk_window_con2 .le p{line-height: 1.6em;font-size: 14px;margin: 0 0 5px;}
.sdxh_talk_window_con2 .le form{margin: 10px 0 0;}
.sdxh_talk_window_con2 .le input{font-size: 14px;background: #f6f6f6;border: navajowhite;line-height: 2.2em;height: 2.2em;text-indent: 1em;width: 100%;box-sizing: border-box;margin: 0;}
.sdxh_talk_window_con2 .le label{background: #f6f6f6;line-height: 2em;display: inline-block;padding: 0 0.5em;font-size: 14px;border: 1px solid #e7e1e1;box-sizing: border-box;height: 2em;min-width: 4em;text-align: center;position: relative;}
.sdxh_talk_window_con2 .le label.active{border-color: #ff6600;}
.sdxh_talk_window_con2 .le label.active::after{position: absolute;right: 0;bottom: 0;content: "";border: 4px solid;border-color: transparent #ff6600 #ff6600 transparent;}
.sdxh_talk_window_con2 .le label input{display: none;}
.sdxh_talk_window_con2 .le ul{list-style: none;padding: 0;margin: 0 0 16px;text-align: left;}
.sdxh_talk_window_con2 .le li{ margin: 8px 0; }
.sdxh_talk_window_con2 .le input[type=submit]{display: inline-block;width: 140px;font-size: 17px;line-height: 2.4em;background: #ca0012;color: white;text-decoration: none;margin: 0 5px;text-indent: 0;padding: 0;}
.sdxh_talk_window_con2 .ri{float: right;background: url(/public/images/talk_bg2.jpg);height: 100%;width: 246px;padding: 88px 12px 0;box-sizing: border-box;}
.sdxh_talk_window_con2 .ri h3{font-size: 44px;line-height: 1.2em;color: white;text-align: left;margin: 0;}
.sdxh_talk_window_con2 .ri h3 span{color: #faff00;}
.sdxh_talk_window_con2 .ri p{font-size: 20px;line-height: 1.6em;color: white;margin: 12px 0;}
.sdxh_talk_window_con2 .ri .llzx{display: inline-block;width: 100%;font-size: 18px;line-height: 2.2em;color: #ff4200;background: white;text-decoration: none;font-weight: bold;}
.sdxh_talk_window_clo {color: #969693;font-size: 14px;line-height: 1.5em;height: 1.5em;box-sizing: border-box;width: 1.5em;border-radius: 50%;border: 1px solid #dedede;background: white;padding: 0;position: absolute;right: 0.5em;top: 0.5em;}

.sdxh_xgtj {width: 344px;text-align: left;float: right;}
.sdxh_xgtj a{color: #333;text-decoration: none;}
.rmbt_j {background: url(/images/xw_list/bg_tj.jpg) no-repeat;width: 344px;height: 38px;line-height: 38px;font-size: 16px;color: #FFF;text-indent: 1em;margin: 0;}

.rmzy_zs {margin: 15px 0;}
.rmzy_zs ul {margin: 0;padding: 0;list-style: none;}
.rmzy_zs li {height: 40px;line-height: 37px;font-size: 16px;}
.rmzy_zs .bg1 {background: #eaeeed;}
.rmzy_zs i {font-size: 26px;color: red;animation: sdxh_dh_zy_hot 0.3s infinite;}
.rmzy_zs li {text-indent: 1em;}

.yjjz_zs{margin: 15px 0;}
.yjjz_zs img{width: 100%;}

.xyxx_zs {margin: 15px 0;}
.xyxx_zs ul {margin: 15px 0;padding: 0;list-style: none;}
.xyxx_zs li {margin: 15px 0;border-bottom: 1px dashed #a9a9a9;padding: 0 15px 7px;}
.xyxx_zs a {overflow: hidden;width: 100%;display: block;}
.xyxx_zs img {width: 52px;float: left;}
.xyxx_zs div {float: left;line-height: 30px;margin: 0 0 0 5px;}
.xyxx_zs h6 {font-size: 15px;margin: 0;}
.xyxx_zs p {font-size: 16px;margin: 0;  }
.xyxx_zs .xh_wxin{padding: 0 42px;overflow: hidden;margin: 15px auto;border-bottom: none;width: auto;}
.xyxx_zs .xh_wxin div{width: 100px;float: left;margin: 0px 15px;}
.xyxx_zs .xh_wxin img{width: 82px;float: initial;margin: 0 auto;display: block;}
.xyxx_zs .xh_wxin h6 {text-align: center;}

.rwtj_zs{margin: 15px 0;}
.rwtj_zs ul {margin: 0;padding: 0;list-style: none;}
.rwtj_zs li {font-size: 16px;line-height: 37px;border-bottom: 1px dashed #a9a9a9;margin: 0 0 0 5px;text-indent: 0.5em;height: 40px;box-sizing: border-box;overflow: hidden;}
.rwtj_zs span{font-size: 14px;color: #999999;font-weight: bold;margin: 0 5px 0 0;}
.rwtj_zs span.co1{color: #ff3333;}

.sdxh_rig {position:fixed;right:0px;top:20%; z-index:1000;line-height:initial}
.sdxh_rig ul{list-style:none;padding:0}
.sdxh_rig a {color:#f9f4f4;text-decoration:none}
.sdxh_rig li{position:relative;width:80px;height:80px;background:#3496E1;border-bottom:solid 1px #0F8EF0;text-align:center;background-repeat:no-repeat;background-position:center 20%;cursor:pointer}
.sdxh_rig li:hover{background:#FE0000;border-bottom:solid 1px #a40324}
.sdxh_rig li:hover div{display:block}
.sdxh_rig li i{font-size:34px;display:block;padding:10px 0 5px;color:inherit}
.sdxh_rig li span{font-size:12px}
.sdxh_rig div{position:absolute;right:85px;bottom:0;min-width:122px;background:#FE0000;display:none;border-radius:5px;padding:5px;min-height:81px;box-sizing:border-box}
.sdxh_rig div p{color:#fff;line-height:20px;font-size:12px;margin:15px 0}
.sdxh_rig div img{display:block}

.sdxh_qq{width:252px;height:172px;position:fixed;bottom:0px;right:0px;z-index:999999;background:url(/public/images/dd_bg1.jpg);}
.sdxh_qq a{cursor:pointer}
.sdxh_qq h3{font-size:14px;margin:30px 0 0;color:#d0121b;text-align:center}
.sdxh_qq p{font-size:12px;color:#0d5168;line-height:22px;padding:0px 10px 0px 10px;margin:0;text-indent:2em}
.sdxh_qq a span{position:absolute;width:72px;height:20px;right:6px;bottom:6px}
.sdxh_qq>span{position:absolute;right:5px;top:5px;width:30px;height:30px;cursor:pointer}

.sdxh_btmdh{height:90px;background:#333}
.sdxh_btmdh_bg{position:fixed;bottom:0;background:#4a5ee1;height:90px;width:100%;min-width:1280px;left:0;right:0;margin:auto;z-index:998}
.sdxh_btmdh_con{width:1280px;margin:4px auto 0;height:90px;text-align:center;text-align-last:justify;display: flex;align-items: center;justify-content: space-between;}
.sdxh_btmdh_con img{display:inline-block;vertical-align:middle}
.sdxh_btmdh_con div{display:inline-block;vertical-align:middle}
.sdxh_btmdh_con div input{height:45px;font-size:18px;padding:0;float:left;outline:none;}
#sdxh_btmdh_input{border:none;width:240px;text-indent:1em}
.sdxh_btmdh_sub{width:136px;border:none;color:#4a5ee1;font-weight:bold;background:#fff000;text-align-last:center}
.sdxh_btmdh_con ul{padding:0;display:inline-block;vertical-align:middle;text-align-last:center;width:auto;height:auto;margin:12px 0}
.sdxh_btmdh_con li{width:136px;height:56px;float:left;line-height:56px;font-size:18px;font-weight:bold;list-style:none;margin:0 3px;position:relative;cursor:pointer}
.sdxh_btmdh_con li i{display:block;position:absolute;top:-11px;right:5px;background:red;width:22px;height:22px;line-height:22px;font-size:13px;border-radius:50%;font-style:normal;color:white}
.sdxh_btmdh_con li::after{content:" ";color:inherit;height:0px;width:48px;border:2px solid;position:absolute;bottom:7px;left:0;right:0;margin:auto}
.sdxh_btmdh_con li::before{content:" ";position:absolute;left:0;right:0;width:0;border:5px solid transparent;border-color:#4a5ee1 transparent transparent #4a5ee1}
.sdxh_btmdh_con li.bc1{background:#00b7ef;color:#00d5ff}
.sdxh_btmdh_con li.bc2{background:#e16d34;color:#d75819}
.sdxh_btmdh_con li.bc3{background:#3ab345;color:#139f20}
.sdxh_btmdh_con li.bc4{background:#2093ef;color:#1180d8}
.sdxh_btmdh_con a{display:block;color:white;text-decoration:none}

@keyframes sdxh_dh_zy_hot{ 0%{color:red}25%{color:red}26%{color:orange}75%{color:orange}76%{color:red}100%{color:red} }
@keyframes sdxh_dh_zy_hot2{ 0%{background: linear-gradient(to right, red ,red ,red , red)}12.5%{background: linear-gradient(to right, white ,red ,red , red)}25%{background: linear-gradient(to right, white ,white ,red , red)}37.5%{background: linear-gradient(to right, white ,white ,white , red)}50%{background: linear-gradient(to right, white ,white ,white , white)}100%{background: linear-gradient(to right, white ,white ,white , white)}}

#sCodeCon{position:fixed!important;z-index:999}
#cnzz_stat_icon_1255957303 {display:none}

.zxUrl{cursor:pointer}
img[data-echo]{background:#eee}