@charset "gbk";
*{margin: 0;padding: 0;font-family: '微软雅黑','宋体';}
body {background: #FFF;color:#000;margin: 0 auto;padding: 0;min-width: 320px;max-width:640px;font-size: 0.18rem;}
a {text-decoration:none;color: #000;}
li {list-style: none;}
ul {margin: 0;padding: 0;}
img {margin: 0;padding: 0;border: 0px;outline-width:0px;  vertical-align:top;}
input{margin: 0;padding: 0;border: 0px;}
.clear{clear:both;}
.fl {float: left;}

.banner img{width:6.4rem;display: block;}
.butt {text-align: center;margin-top: 0.2rem;}
.butt a {display: inline-block;width: 2.1rem;line-height: 0.42rem;text-align: center;font-size: 0.2rem;white-space: nowrap;word-spacing: normal;letter-spacing: normal;overflow: hidden;text-overflow:ellipsis;}
.bt1 a {background-color: #af30d4;color: #FFF;border-radius: 0.2rem;}
.bt2 a {background-color: #d71535;color: #FFF;border-radius: 0.1rem;}
.bt3 a {background-color: #d71535;color: #FFF;border-radius: 0.2rem;margin-top: 0.3rem;}
.bt4 a {background-color: #5742ff;color: #fffc00;border-radius: 0.2rem;border: 1px solid #FFF;}
.bt5 a {background-color: #d71535;color: #FFF;border-radius: 0.2rem;}
.tit_01 {text-align: center;font-size: 0.39rem;padding: 0.15rem 0;color: #fe0000;}
.p_01 {width: 6.1rem;margin-left: 0.15rem;font-size: 0.17rem;line-height: 0.27rem;}
.bg1 {background-color: #1a2438;padding-bottom: 0.1rem;}
.vjUl1 {margin-top: 0.1rem;}
.vjUl1 ul li {float: left;width: 3.16rem;margin-left: 0.027rem;}
.vjUl1 ul li img {width: 3.16rem;}
.vjUl1 ul li p {border: 1px solid #535b6a;color: #FFF;font-size: 0.14rem;padding: 0.1rem;margin-top: 0.15rem;}

.tit_02 {text-align: center;margin: 0.2rem 0;}
.tit_02 span {border-bottom: 0.03rem solid #d71535;}
.vjUl2 ul li {float: left;width: 2.81rem;margin-left: 0.26rem;}
.vjUl2 ul li img {width: 2.81rem;}
.vjUl2 ul li p {text-align: center;line-height: 0.39rem;}
.vjUl2 {margin-top: 0.2rem;}
.tit_03 {text-align: center;color: #004d8a;padding: 0.1rem 0;}
.p_02 {text-align: center;line-height: 0.39rem;font-size: 0.2rem;}
.bg2 {background-image: url(../images/vj_03_01.jpg);height: 3.93rem;width: 6.4rem;background-size: 100%;margin-top: 0.1rem;}
.vjUl3 ul li {float: left;color: #FFF;margin-top: 1.5rem;margin-left: 0.2rem;line-height: 0.3rem;}
.vjUl3 ul li:nth-child(2){margin-left: 0.6rem;}
.bg3 {background-image: url(../images/vj_03_02.jpg);height: 4.35rem;width: 6.4rem;background-size: 100%;}
.vjUl4 ul li {float: left;color: #FFF;margin-top: 1.8rem;margin-left: 0.3rem;line-height: 0.3rem;}
.vjUl4 ul li:nth-child(2){margin-left: 0.7rem;margin-top: 1.6rem;}
.bg4 {background-image: url(../images/vj_03_03.jpg);height: 3.93rem;width: 6.4rem;background-size: 100%;}
.vjUl5 ul li {float: left;color: #FFF;margin-top: 1.6rem;margin-left: 0.6rem;line-height: 0.3rem;}
.vjUl5 ul li:nth-child(2){margin-left: 1.2rem;}
.bg5 {background-image: url(../images/vj_03_04.jpg);height: 6.93rem;width: 6.4rem;background-size: 100%;}
.tit_04 {text-align: center;color: #FFF;padding: 0.3rem 0;}
.vjUl6 ul li {float: left;width: 2.88rem;margin-left: 0.21rem;font-size: 0.2rem;}
.vjUl6 ul li img {width: 2.88rem;}
.vjUl6 ul li {text-align: center;color: #FFF;line-height: 0.6rem;}
.p_03 {text-align: center;}
.tit_05 {text-align: center;padding: 0.2rem 0;}
.vjUl7 ul li {float: left;width: 2.93rem;margin-left: 0.18rem;margin-top: 0.2rem;}
.vjUl7 ul li img {width: 2.93rem;}
.tit_06 {text-align: center;padding: 0.1rem 0;}
.vjUl8 ul li {float: left;width: 3.09rem;margin-left: 0.073rem;margin-top: 0.1rem;}
.vjUl8 ul li img {width: 3.09rem;}